<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Django App</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'djangoapp/style.css' %}">
</head>

<body>
    <nav style="margin-bottom: 20px; border-bottom: 2px solid; padding-left: 30px; padding-right: 30px;">
        <ul>
            <li><a href="/" role="button">Home</a></li>
            <li><a href="{% url 'djangoapp:add_author' %}" role="button">Add Author</a></li>
            <li><a href="{% url 'djangoapp:add_quote' %}" role="button">Add Quote</a></li>
            <li><a href="{% url 'djangoapp:all_authors' %}" role="button">All Authors</a></li>
            <li><a href="{% url 'djangoapp:all_quotes' %}" role="button">All Quotes</a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
            <li>Welcome <b>{{ user.username }}!</b></li>
            <li><a href="{% url 'users:logout' %}" role="button">Logout</a></li>
            {% else %}
            <li><a href="{% url 'users:signup' %}" role="button">Sign Up</a></li>
            <li><a href="{% url 'users:login' %}" role="button">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="container">
        {% block content %} {% endblock %}
    </main>
</body>

</html>